@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*::selection {
    background: #4d4d4d;
}
.navbar {
    background: rgba( 48, 48, 48, 0.21 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 16px;
    border-top: 1.5px solid rgba(130,130,130,0.4);
    border-bottom: 1px solid rgba(30,30,50,0.4);
    display: flex;
    justify-content: space-between;
    position: fixed;
    max-width: 750px;
    width: 80%;
    top: 16px;
    left: 0;
    right: 0;
    z-index: 10;
    align-items: center;
    margin: auto;
    max-height: 80px;
}

.navbar a, button {
    text-decoration: none;
    color: #e5e5e5;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    flex: 1;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}

#link-home {
    font-size: 18px;
    font-weight: 450;
    margin-right: 10%;
    flex: 0 0 auto;
}

.navbar .navbarlogo {
    width: 35px;
    margin-right: 15px;
    vertical-align: middle;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

#menu-open {
    position: absolute;
    top: 0px;
    right: 5px;
}

@keyframes navbarAnim {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#navbar[data-expanded="true"] #link-about {
    display: flex;
    visibility: visible;
    animation: navbarAnim 0.5s ease forwards;
    animation-delay: 0ms;
}
#navbar[data-expanded="true"] #link-blog {
    display: flex;
    visibility: visible;
    animation: navbarAnim 0.5s ease forwards;
    animation-delay: 100ms;
}
#navbar[data-expanded="true"] #link-library {
    display: flex;
    visibility: visible;
    animation: navbarAnim 0.5s ease forwards;
    animation-delay: 200ms;
}
#navbar[data-expanded="true"] #link-stack {
    display: flex;
    visibility: visible;
    animation: navbarAnim 0.5s ease forwards;
    animation-delay: 300ms;
}
#navbar[data-expanded="true"] #link-contact {
    display: flex;
    visibility: visible;
    animation: navbarAnim 0.5s ease forwards;
    animation-delay: 400ms;
}

/*Media Queries*/
@media screen and (min-width: 660px) {
    #menu-open {
        display: none;
    }
}


@media screen and (max-width: 900px) {
    #link-library {
        visibility: hidden;
        transition: transform 0.2s ease, opacity 0.2s ease;
        opacity: 0;
        display: none;
    }
}

@media screen and (max-width: 776px) {
    #link-stack {
        visibility: hidden;
        transition: transform 0.2s ease, opacity 0.2s ease;
        opacity: 0;
        display: none;
    }
}

@media screen and (max-width: 350px) {
    #link-home {
        margin-right: 0px;
        font-size: 0.9em;
        
    }
    .navbar .navbarlogo {
        margin-right: 5px;
        width: 15px;
    }
    .navbar a {
        padding: 15px;
    }
    #navbar[data-expanded="true"] a {
        font-size: 0.8em;
    }
    #menu-open img {
        width: 20px;
    }
}

@media screen and (max-width: 660px) {
    #navbar[data-expanded="true"] {
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 400px;
        align-items: flex-start;
    }
    #navbar[data-expanded="true"] a {
        display: flex;
    }
    #navbar[data-expanded="true"] #menu-open {
        top: -162px;
    }
    #menu-open {
        display: flex;
        flex: 0 0 auto;
    }
    #link-blog {
        visibility: hidden;
        transition: transform 0.2s ease, opacity 0.2s ease;
        opacity: 0;
        display: none;
    }
    #link-home {
        margin-right: 5%;
    }
    #link-about {
        visibility: hidden;
        transition: transform 0.2s ease, opacity 0.2s ease;
        opacity: 0;
        display: none;
    }
    #link-contact {
        visibility: hidden;
        transition: transform 0.2s ease, opacity 0.2s ease;
        opacity: 0;
        display: none;
    }
}


