@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: Galano Grotesque;
    src: url(/assets/fonts/GalanoGrotesqueRegular.otf);
}

*::selection {
    background: #4d4d4d;
}

*:focus {
    outline: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}

.navbar {
    background: rgba( 16, 17, 18, 0.95 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 16px;
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.15);
    display: flex;
    justify-content: space-between;
    position: fixed;
    max-width: 1200px;
    width: 80%;
    top: 16px;
    left: 0;
    right: 0;
    z-index: 100;
    align-items: center;
    margin: auto;
    max-height: 80px;
    padding: 5px 20px;
}

.navbar a, button {
    text-decoration: none;
    color: #a8a8a8;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    padding: 20px;
    transition: transform 0.2s ease, color 0.2s ease;
}

.navbar a:nth-child(1):hover {
    transform: scale(1.01);
}

.navbar a:not(:first-child):hover {
    color: #f5f5f5;
}

#link-home {
    color: #e5e5e5;
    font-size: 18px;
    font-weight: 500;
    margin-right: 13vw;
    flex: 0 0 auto;
    font-family: "Raleway", sans-serif;
}


#link-contact {
    margin-left: 13vw;
    --neutral-1: #f7f8f7;
    --neutral-2: #e7e7e7;
    --radius: 12px;
  
    cursor: pointer;
    border-radius: var(--radius);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease;
    min-width: 100px;
    padding: 20px;
    height: 10px;
    font-family: "Galano Grotesque", Poppins, Montserrat, sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
    z-index: 100;
}

#link-contact::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: var(--radius);
    border: 2.5px solid transparent;
    background: linear-gradient(var(--neutral-1), var(--neutral-2)) padding-box,
      linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.45))
        border-box;
    z-index: 0;
    transition: all 0.4s ease;
}
  
#link-contact::before {
    content: "";
    inset: 7px 6px 6px 6px;
    position: absolute;
    background: linear-gradient(to top, var(--neutral-1), var(--neutral-2));
    border-radius: 30px;
    z-index: 2;
}

.navbar .navbarlogo {
    width: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

/*Make sure that only the icon shows*/
button {
    border: none;
    cursor: pointer;
    background: transparent;
}

#menu-open {
    position: absolute;
    top: 8px;
    right: 15px;
    flex: 0 0 auto;
}

/*Menu icon shouldn't display until width is as low as 660px.*/
@media screen and (min-width: 660px) {
    #menu-open {
        display: none;
    }
}

/*Library and stack will disappear at the appropriate breakpoints*/
@media screen and (max-width: 900px) {
    #link-library {
        display: none;
    }
}

@media screen and (max-width: 776px) {
    #link-stack {
        display: none;
    }
}
/*End of library and stack breakpoints*/

/*Start of mobile navbar functionality*/
@media screen and (max-width: 660px) {
    /*How navbar should be displayed when expanded on mobile*/
    #navbar[data-expanded="true"] {
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 400px;
        align-items: flex-start;
        justify-content: flex-start;
    }
    /*Show all links when expanded*/
    #navbar[data-expanded="true"] a {
        display: flex;
        margin: 0;
    }
    /*Don't display the button, just the link*/
    #navbar[data-expanded="true"] #link-contact::before, #link-contact::after {
        content: none;
    }
    #navbar[data-expanded="true"] .plane-icon {
        display: none;
    }
    #navbar[data-expanded="true"] #link-contact {
        margin-left: -17px;
        text-shadow: none;
    }
    #navbar[data-expanded="true"] .navbar-contact-text {
        color: #a8a8a8;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 400;
        transition: color 0.2s ease;
    }
    #navbar[data-expanded="true"] .navbar-contact-text:hover {
        color: #f5f5f5;
    }
    /*Change from flexbox row to column, so make sure icon doesn't move*/
    #menu-open {
        top: 3px;
        display: flex;
        flex: 0 0 auto;
    }
    /*Lower padding on mobile*/
    .navbar {
        padding: 0 10px;
    }
    /*Irrelevant to expansion, it's just that when the width goes 660px and below, these links should disappear.*/
    #link-blog {
        display: none;
    }
    #link-about {
        display: none;
    }
    #link-contact {
        display: none;
    }
    /*End of link hiding responsiveness*/
}



/*Start of satisfying link navbar animation*/
@keyframes navbarAnim {
    from {
        filter: blur(4px);
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        filter: blur(0px);
        opacity: 1;
        transform: translateX(0);
    }
}

/*Every link except homepage link should do the satisfying animation*/
#navbar[data-expanded="true"] a:not(:first-child) {
    opacity: 0;
    animation: navbarAnim 0.5s ease forwards;
}

/*Utilize the nth child selector to create a stagger effect.*/
#navbar[data-expanded="true"] a:nth-child(2) {
    animation-delay: 0ms;
}
#navbar[data-expanded="true"] a:nth-child(3) {
    animation-delay: 200ms;
}
#navbar[data-expanded="true"] a:nth-child(4) {
    animation-delay: 400ms;
}
#navbar[data-expanded="true"] a:nth-child(5) {
    animation-delay: 600ms;
}
#navbar[data-expanded="true"] a:nth-child(6) {
    animation-delay: 800ms;
}
/*End of navbar links for mobile responsiveness*/

/*Start of menu icon transition*/

/*Define spin class*/
.spin {
    animation: spin 0.5s ease forwards;
}

/*Define spin animation*/
@keyframes spin {
    0% {
        transform: rotate(0deg);
        filter: none;
    }

    40% {
        filter: blur(2px);
    }
    100% {
        transform: rotate(360deg);
        filter: none;
    }
}
/*End of menu icon transition*/

/*Start of navbar margin responsiveness*/
@media screen and (min-width: 2000px) {
    #link-contact {
        margin-left: 6vw;
    }
    #link-home {
        margin-right: 6vw;
    }
}

@media screen and (max-width: 1230px) and (min-width: 1171px) {
    #link-contact {
        margin-left: 3vw;
    }
    #link-home {
        margin-right: 3vw;
    }
}

@media screen and (max-width: 1170px) and (min-width: 971px) {
    #link-contact {
        margin-left: 5vw;
    }
    #link-home {
        margin-right: 5vw;
    }
}

@media screen and (max-width: 970px) {
    #link-contact {
        margin-left: 3vw;
    }
    #link-home {
        margin-right: 3vw;
    }
}

.plane-icon {
    width: 20px;
    margin-right: 10px;
    margin-left: -5px;
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.3));
    z-index: 10;
}

.navbar-contact-text {
    z-index: 10;
    color: #000;
}