@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*::selection {
    background: #4d4d4d;
}

*:focus {
    outline: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}

.navbar {
    background: rgba( 48, 48, 48, 0.21 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 16px;
    border-top: 1.5px solid rgba(130,130,130,0.4);
    display: flex;
    justify-content: space-between;
    position: fixed;
    max-width: 750px;
    width: 80%;
    top: 16px;
    left: 0;
    right: 0;
    z-index: 10;
    align-items: center;
    margin: auto;
    max-height: 80px;
}

.navbar a, button {
    text-decoration: none;
    color: #a8a8a8;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    transition: transform 0.2s ease, color 0.2s ease;
}

.navbar a:nth-child(1):hover {
    transform: scale(1.01);
}

.navbar a:not(:first-child):hover {
    color: #f5f5f5;
}

#link-home {
    color: #e5e5e5;
    font-size: 18px;
    font-weight: 450;
    margin-right: 10%;
    flex: 0 0 auto;
    font-family: "Ubuntu", sans-serif;
}

.navbar .navbarlogo {
    width: 35px;
    margin-right: 15px;
    vertical-align: middle;
}

/*Make sure that only the icon shows*/
button {
    border: none;
    cursor: pointer;
    background: transparent;
}

#menu-open {
    position: absolute;
    top: 5px;
    right: 5px;
    flex: 0 0 auto;
}

/*Menu icon shouldn't display until width is as low as 660px.*/
@media screen and (min-width: 660px) {
    #menu-open {
        display: none;
    }
}

/*Library and stack will disappear at the appropriate breakpoints*/
@media screen and (max-width: 900px) {
    #link-library {
        display: none;
    }
}

@media screen and (max-width: 776px) {
    #link-stack {
        display: none;
    }
}
/*End of library and stack breakpoints*/

/*Start of mobile navbar functionality*/
@media screen and (max-width: 660px) {
    /*How navbar should be displayed when expanded on mobile*/
    #navbar[data-expanded="true"] {
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 400px;
        align-items: flex-start;
        justify-content: flex-start;
    }
    /*Show all links when expanded*/
    #navbar[data-expanded="true"] a {
        display: flex;
    }
    /*Change from flexbox row to column, so make sure icon doesn't move*/
    #menu-open {
        display: flex;
        flex: 0 0 auto;
    }
    /*Irrelevant to expansion, it's just that when the width goes 660px and below, these links should disappear.*/
    #link-blog {
        display: none;
    }
    #link-about {
        display: none;
    }
    #link-contact {
        display: none;
    }
    /*End of link hiding responsiveness*/
}

/*Start of satisfying link navbar animation*/
@keyframes navbarAnim {
    from {
        filter: blur(4px);
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        filter: blur(0px);
        opacity: 1;
        transform: translateX(0);
    }
}

/*Every link except homepage link should do the satisfying animation*/
#navbar[data-expanded="true"] a:not(:first-child) {
    opacity: 0;
    animation: navbarAnim 0.5s ease forwards;
}

/*Utilize the nth child selector to create a stagger effect.*/
#navbar[data-expanded="true"] a:nth-child(2) {
    animation-delay: 0ms;
}
#navbar[data-expanded="true"] a:nth-child(3) {
    animation-delay: 200ms;
}
#navbar[data-expanded="true"] a:nth-child(4) {
    animation-delay: 400ms;
}
#navbar[data-expanded="true"] a:nth-child(5) {
    animation-delay: 600ms;
}
#navbar[data-expanded="true"] a:nth-child(6) {
    animation-delay: 800ms;
}
/*End of navbar links for mobile responsiveness*/

/*Start of menu icon transition*/

/*Define spin class*/
.spin {
    animation: spin 0.5s ease forwards;
}

/*Define spin animation*/
@keyframes spin {
    0% {
        transform: rotate(0deg);
        filter: none;
    }

    40% {
        filter: blur(2px);
    }
    100% {
        transform: rotate(360deg);
        filter: none;
    }
}
/*End of menu icon transition*/
