<nav class="navbar" id="navbar">
    <a href="/index.html" id="link-home"><img src="/assets/images/hero/monochronixlogo.png" class="navbarlogo" aria-hidden="true">Monochronix</a>
    <a href="/about.html" id="link-about">About</a>
    <a href="/blog.html" id="link-blog">Blog</a>
    <a href="/library.html" id="link-library">Library</a>
    <a href="/stack.html" id="link-stack">Stack</a>
    <a href="/contact.html" id="link-contact"><img src="/assets/icons/plane.svg" class="plane-icon" aria-label="plane-icon"><span class="navbar-contact-text">Contact</span></a>
    <button id="menu-open" aria-label="Open Menu"><img src="/assets/icons/menu.svg" id="menu-icon" aria-label="Open/Close Button"></button>
</nav>