<nav class="navbar" id="navbar">
    <a href="/index.html" id="link-home"><img src="/assets/images/monochronixlogo.png" class="navbarlogo">Monochronix</a>
    <a href="/about.html" id="link-about">About</a>
    <a href="/blog.html" id="link-blog">Blog</a>
    <a href="/library.html" id="link-library">Library</a>
    <a href="/stack.html" id="link-stack">Stack</a>
    <a href="/contact.html" id="link-contact">Contact</a>
    <button id="menu-open" aria-label="Open Menu"><img src="/assets/icons/menu.svg" alt="Navbar Open Button"></button>
</nav>  

