@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar {
    width: 12px
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
    border-radius: 3px;
    border: 3px solid transparent
}

* {
    scrollbar-width: thin;
    scrollbar-color: #a9a9a9 transparent
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
}

body {
    background-color: #0e100f;
    overscroll-behavior: none;
    overflow-x: hidden;
}
  
.navbar-area {
    background-color: #0e100f;
    border-bottom: 2px solid #f8f6d8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: block;
    height: 120px;
    z-index: 2;
}

.hero-section {
    border-left: 2px solid #f8f6d8;
    border-right: 2px solid #f8f6d8;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    position: relative;
    margin: auto;
    height: 1200px;
    width: 80vw;
    top: 95px;
    max-width: 1200px;
}

/*Headline Start*/
.hero-headline {
    color: #EE7B19;
    font-family: "Inter", sans-serif;
    text-align: center;
    margin: 8vh 0;
    font-size: 9vw;
    font-weight: 900;
}

.desktop-headline-finance {
    font-size: 15.7vw;
}
/*Headline End*/

/*Headline Media Queries Start*/
@media screen and (min-width: 1587px) {
    .hero-headline {
        font-size: 140px;
    }
    .desktop-headline-finance {
        font-size: 245px;
    }
    .mobile-headline {
        display: none;
    }

}

@media screen and (min-width: 661px) {
    .mobile-headline {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .hero-section {
        border: none;
        background: transparent;
        height: 900px;
    }
}

@media screen and (max-width: 660px) {
    .non-mobile-headline {
        display: none;
    }
    .mobile-headline {
        display: block;
        font-family: "Inter", monospace;
        font-size: 19vw;
        font-weight: 900;
    }
    .hero-section {
        height: 900px;
    }
}
/*Headline Media Queries Start*/

/*Start Hero Page Side Text*/
.hero-page-side-text-left-container {
    display: flex;
    flex-direction: column;
    gap: 150px;
    position: absolute;
    height: 1200px;
    top: 94px;
    left: 0;
    width: 10vw;
    justify-content: space-around;
    padding-right: 100px;
    box-sizing: border-box;
    padding-top: 50px;
    overflow: hidden;
    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
     );
}
.hero-page-side-text-right-container {
    display: flex;
    flex-direction: column;
    gap: 150px;
    position: absolute;
    top: 94px;
    right: 0;
    height: 1200px;
    width: 10vw;
    justify-content: space-around;
    padding-left: 100px;
    box-sizing: border-box;
    padding-top: 50px;
    overflow: hidden;
    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
     );
}

.hero-page-side-text-left {
    white-space: nowrap;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: #f8f6d8;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.5em;
}
.hero-page-side-text-right {
    white-space: nowrap;
    left: 10px;
    writing-mode: vertical-lr;
    color: #f8f6d8;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.5em;
}
/*End Hero Page Side Text*/

/*Start Hero Page Side Text Animation*/
@keyframes scrolldown {
    from {
        transform: translateY(0);
      }
      to {
        transform: translateY(calc(-100% - 150px));
      }
}

.hero-page-side-text-left-marquee {
    display: flex;
    flex-direction: column;
    gap: 150px;
    animation: scrolldown 10s linear infinite;
    animation-direction: reverse;
}
.hero-page-side-text-right-marquee {
    display: flex;
    flex-direction: column;
    gap: 150px;
    animation: scrolldown 10s linear infinite;
    animation-direction: reverse;
}
/*End Hero Page Side Text Animation*/

/*Media Queries for Hero Page Side Text*/
@media screen and (min-width: 1460px) {
    .hero-page-side-text-right-container {
        width: calc((100vw - 1200px) / 2);
    }
    .hero-page-side-text-left-container {
        width: calc((100vw - 1200px) / 2);
    }
}
@media screen and (max-width: 1830px) and (min-width: 1460px) {
    .hero-page-side-text-right-container {
        padding-left: calc(((100vw - 1200px) / 2) * 0.3);
    }
    .hero-page-side-text-left-container {
        padding-right: calc(((100vw - 1200px) / 2) * 0.3);
    }
}
@media screen and (max-width: 1460px) {
    .hero-page-side-text-right-container {
        padding-left: 20px;
    }
    .hero-page-side-text-left-container {
        padding-right: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .hero-page-side-text-right-container {
        display: none;
    }
    .hero-page-side-text-left-container {
        display: none;
    }
}
/*End Media Queries for Hero Page Side Text*/

/*Start End of Hero Page*/
.hero-end {
    border: none;
    height: 3px;
    background-color: #f8f6d8;
    width: 100vw;
    position: relative;
    top: 87px;
}
/*End end of Hero Page*/