@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

* {
    scrollbar-color: #7b7b7b #08090a;
}

::-webkit-scrollbar-track {
    background: #08090a;
}

::-webkit-scrollbar-thumb {
    background: #7b7b7b;
}

body {
    overflow-x: hidden;
    background-color: #07080a;
}

.hero-section {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    position: relative;
    max-width: 2156px;
    margin: auto;
    height: 100vh;
}


.hero-headline {
    color: #FFD700;
    font-family: "Inter", sans-serif;
    text-align: center;
    margin: 25vh 0;
    font-size: 10vw;
}


@media screen and (min-width: 2156px) {
    .hero-headline {
        font-size: 200px;
    }
}

@media screen and (max-width: 500px) {
    .hero-headline {
        transform: scaleY(1.3);
        font-weight: 900;
        font-size: 12vw;
        line-height: 50px;
    }
}