@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    scrollbar-color: #7b7b7b #08090a;
}

::-webkit-scrollbar-track {
    background: #08090a;
}

::-webkit-scrollbar-thumb {
    background: #7b7b7b;
}

body {
    background-color: #08090a;
    overflow-x: hidden;
}

.hero-section {
    position: relative;
    max-width: 2156px;
    margin: auto;
}

.hero-headline {
    color: #FFD700;
    font-family: "Inter", sans-serif;
    text-align: center;
    margin: 30vh 0;
    font-size: 10vw;
}

.mobile-headline-break {
    display: none;
}

/*For larger screens, display a second word*/
@media screen and (min-width: 801px) {
    .hero-headline::after {
        content: "FINANCE";
        display: block;
    }
}
/*Line break for smaller screens*/
@media screen and (max-width: 800px) and (min-width: 451px) {
    .mobile-headline-break {
        display: block;
    }
    .hero-headline {
        font-size: 18vw;
    }
}

/*Taller text for mobile*/
@media screen and (max-width: 450px) {
    .mobile-headline-break {
        display: block;
    }
    .hero-headline {
        font-size: 20vw;
    }
}

@media (min-width: 2560px) {
    .hero-headline {
        font-size: 1700%;
    }
}